@(recipes: List[Recipe])

@import helper._

<a href="@routes.RecipeController.newRecipe">New recipe</a>

@for(recipe <- recipes) {
    <dl>
        <dt><a href="@routes.RecipeController.editRecipe(recipe.name)">@recipe.name (@recipe.id)</a>
        @form(routes.RecipeController.deleteRecipe) {
            <input name="id" type="hidden" value="@recipe.id" />
            <input type="submit" value="Delete" />
        }
        </dt>
        <dd>@recipe.description</dd>
    </dl>
    <br /><br />
}
