@(recipe: Recipe, steps: Int = 2, ingredients: Int = 2)

@import helper._

@field(label: String, field: Any) = {
    <tr>
        <th>@label:</th>
        <td>@field</td>
    </tr>
}

@main(recipe.name) {
    <a href="@routes.RecipeController.listRecipes">Back</a>
    <a href="@routes.RecipeController.editRecipe(recipe.name)">Edit</a>

    <table>
        <caption>@recipe.name: @recipe.description</caption>

    @for(direction <- recipe.directions) {
        @field("Step", direction)
    }

    @for(ingredient <- recipe.ingredients) {
        @field("Name", ingredient.name)
        @field("Quantity", ingredient.quantity)
        @field("Unit", ingredient.unit)
        @field("Notes", ingredient.notes)
    }
    </table>
}
