@(recipeForm: Form[Recipe], steps: Int = 2, ingredients: Int = 2)

@import helper._

@main("Editing recipe \"%s\"".format(recipeForm("name").value)) {
    <a href="@routes.RecipeController.showRecipe(recipeForm("name").value.get)">Back</a>

    @form(routes.RecipeController.saveRecipe) {
        <input name="id" type="hidden" value="@recipeForm("id").value" />

        @inputText(recipeForm("name"), '_label -> "Name")
        @inputText(recipeForm("description"), '_label -> "Description")

        @repeat(recipeForm("directions")) { directionField =>
            @inputText(directionField, '_label -> "Step")
        }

        @repeat(recipeForm("ingredients")) { ingredientForm =>
            <dl class="ingredient">
            @inputText(ingredientForm("name"), '_label -> "Name", 'class -> "ingredient-name")
            @inputText(ingredientForm("quantity"), '_label -> "Quantity", 'class -> "ingredient-property")
            @inputText(ingredientForm("unit"), '_label -> "Unit", 'class -> "ingredient-property")
            @inputText(ingredientForm("notes"), '_label -> "Notes", 'class -> "ingredient-property")
            </dl>
        }

        <input type="submit" value="Save Recipe" />
    }
}
